/DeTokenizer.class
/EcodeEctractor.class
/Extractor.class
/LMcleaner.class
/SinhalaTokenizer.class
/SinhalaTokenizerMain.class
/TamilTokenizer.class
/TamilTokenizerMain.class
/wordToSentence.class
/gg.class
